.App {
  font-family: Arial, sans-serif;
  /* text-align: center; */
  padding: 50px;
  

}


.input-container {
  position: relative;
  display: inline-block;
  margin-bottom: '200px';

}

.popup {
  position: absolute;
  top: 100%; /* Position below the input */
  left: 50%; /* Center align */
  transform: translateX(-50%); /* Center align */
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
}

.popup-content {
  position: relative;
  padding: 20px;
}

